/* font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif; */


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.margin{
    margin: auto;
    
}
.wrap
{
    flex-wrap: wrap;
}

.head
{
    background: url(img/hero.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    
}
 .head .headcon
{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: auto;
}
 
.head .headcon .content 
{
    word-spacing: 2px;
    font-size: 40px;
    font-weight: 600; 
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.head .headcon .content span
{
    /* width: 450px; */
    display: block;
    padding-bottom: 10px;
    font-size: 25px; 
    font-weight: 100;
    display: flex;  
    justify-content: center;
    align-items: center;     
    position: relative; 
}
.head .headcon .content span::after
{
    content: "";
    height: 30px;
    width: 430px;
    background-color: transparent;
    border-bottom:2px solid #fff;
    position: absolute;
    bottom: 5px;
    
}
.head .headcon .content p 
{
    word-spacing: 3px;
    font-size: 20px;
    font-weight: 200;
    display: flex;  
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

 .nevigation
{
    position: sticky;
    top: 0;
    z-index: 10000;    
} 
.nevigation .nevigationcon
{
    display: flex;
    background: #196fc0;
    /* padding: 20px 0px; */
}
.nevigation .nevigationcon .logo
{
    background: #004b91;
    text-align: right;
}
.nevigation .nevigationcon .logo h2
{
    font-size: 35px;
    font-weight: 800;
    padding: 10px 20px;
    font-family: 'Raleway'sans-serif;
}
.nevigation .nevigationcon .tooggle
{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
/* .nevigation .nevigationcon .tooggle span
{
    padding: 15px 10px;
    background: #004b91;
    transition: all 0.5s;
} */

.nevigation .nevigationcon .tooggle span ion-icon 
{
    display: block;
    margin: -17px 0;
    font-size: 25px;
    transition:  2s;
    /* transform: rotate(45deg); */
   
}

.nevigation .nevigationcon .nevi 
{
   text-align: right;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.nevigation .nevigationcon .nevi ul
{
    margin: 0;
}
.nevigation .nevigationcon .nevi ul li
{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;    
}
.nevigation .nevigationcon .nevi ul li a
{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    padding-bottom: 19px;
    transition: 0.5s;
    /* border-bottom: 3px solid #fff; */
}
.nevigation .nevigationcon .nevi ul li .active
{
    border-bottom: 3px solid #fff;
}
.nevigation .nevigationcon .nevi ul li a:hover
{
    border-bottom: 3px solid #fff;
}
.hello
{
    padding: 100px 0px;
    text-align: center;
}
.hello h2
{
    font-size: 40px;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #196fc0;
    font-weight:500;
    font-family: 'Oxygen', sans-serif;
}
.hello .p 
{
    padding-top: 10px;
    color: #666;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 3px;
    letter-spacing: 2px;
    position: relative;
}
.hello .p::after
{
    content: '';
    position: absolute;
    height: 0px;
    width: 20px;
    border-bottom: 2px solid #666;
    bottom: 10px;
    margin-left: 5px;
    
}
.hello .p::before
{
    content: '';
    position: absolute;
    height: 0px;
    width: 20px;
    border-bottom: 2px solid #666;
    bottom: 10px;
    margin-left: -30px;
    margin-right:0px;
    
}
.hello .hellocon
{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}
.hello .hellocon .left
{
    text-align: right;
    padding: 80px 0px;
}
.hello .hellocon .left .left-top
{
    display: flex;
    padding: 20px;
}
.hello .hellocon .left .left-bottom
{
    padding-top: 150px;
}
.hello .hellocon .left .left-top .text p
{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.hello .hellocon .left .left-top .text 
{
    padding: 0px 30px;
}
.hello .hellocon .left .left-top .text span
{
    font-size: 13px;
    color: #666;
    display: block;
    padding-top: 20px;
}
.hello .hellocon .left .logo
{
    height: 50px;
    width: 100px;
    background: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    transform: rotate(45deg); 
    box-shadow: 4px 4px 1px #dddddd;
    border: 1px solid #dddddd;
   
}
.hello .hellocon .left .logo i 
{

  font-size: 20px;
  transform: rotate(-45deg); 
  color: #333;
    
}

/* close left*/
.hello .hellocon .middle
{
   
    margin-top: 60px;
    /* background: #196fc0; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hello .hellocon .middle div
{
    height: 280px;
    width: 280px;
    background-color: #196fc0;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 7px 7px 0px lightgray;

}
.hello .hellocon .middle div img 
{
    transform: rotate(-45deg);
}
/* close middle*/

.hello .hellocon .right
{
    text-align: left;
    padding: 80px 0px;
}
.hello .hellocon .right .left-top
{
    display: flex;
    padding: 20px;
}
.hello .hellocon .right .left-top .text p
{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.hello .hellocon .right .left-bottom
{
    padding-top: 150px;
}
.hello .hellocon .right .left-top .text 
{
    padding: 0px 30px;
}
.hello .hellocon .right .left-top .text span
{
    font-size: 13px;
    color: #666;
    display: block;
    padding-top: 20px;
}
.hello .hellocon .right .logo
{
    height: 50px;
    width: 120px;
    background: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    transform: rotate(45deg); 
    box-shadow: 4px 4px 1px #dddddd;
    border: 1px solid #dddddd;
   
}
.hello .hellocon .right .logo i 
{

  font-size: 20px;
  transform: rotate(-45deg); 
  color: #333;
    
}
.fix-img
{
    background:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.5)),url('img/quote.jpg');
    height: 450px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;    
    align-items: center;
    text-align: center;  
    font-family: sans-serif; 
}
.fix-img .fixcon
{
    margin: 0 auto;
}
.fix-img .fixcon h1
{
    font-size: 35px;
    font-weight: 500;
    color: #fff;   
    
}


.about
{
    padding: 100px 0px;
    text-align: center;
    font-family: sans-serif;
}
.about h2
{
    font-size: 35px;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #196fc0;
    font-weight:500;
    font-family: 'Oxygen', sans-serif;
}
.about .p 
{
    padding-top: 10px;
    color: #666;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 3px;
    letter-spacing: 2px;
    position: relative;
}
.about .p::after
{
    content: '';
    position: absolute;
    height: 0px;
    width: 20px;
    border-bottom: 2px solid #666;
    bottom: 10px;
    margin-left: 5px;
    
}
.about .p::before
{
    content: '';
    position: absolute;
    height: 0px;
    width: 20px;
    border-bottom: 2px solid #666;
    bottom: 10px;
    margin-left: -30px;
    margin-right:0px;
    
}
.about .aboutcon
{
    padding-top: 80px;
    display: flex;
    justify-content:space-between ;
    
}
.about .aboutcon .info1
{ 
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 0px;

}
.about .aboutcon .info1 .logo
{   
    height: 80px;
    width: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;

    
}
.about .aboutcon .info1 .logo i 
{
    font-size: 25px;
    transform: rotate(-45deg);
    
}
.about .aboutcon .info1 p 
{
    font-size: 17px;
    font-weight: 600;
    word-spacing: 3px;
    color: #333;
    padding: 50px 0px 20px 0px;
}
.about .aboutcon .info1 span 
{
    font-size: 14px;
    font-weight: 400;
    color: #666;

}
/* info1 close */

.about .aboutcon .info2
{ 
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 0px;

}
.about .aboutcon .info2 .logo
{   
    height: 80px;
    width: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;

    
}
.about .aboutcon .info2 .logo i 
{
    font-size: 25px;
    transform: rotate(-45deg);
    
}
.about .aboutcon .info2 p 
{
    font-size: 17px;
    font-weight: 600;
    word-spacing: 3px;
    color: #333;
    padding: 50px 0px 20px 0px;
}
.about .aboutcon .info2 span 
{
    font-size: 14px;
    font-weight: 400;
    color: #666;

}
/* info2 close */


.about .aboutcon .info4
{ 
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 0px;

}
.about .aboutcon .info4 .logo
{   
    height: 80px;
    width: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;
    
}
.about .aboutcon .info4 .logo i 
{
    font-size: 25px;
    transform: rotate(-45deg);
    
}
.about .aboutcon .info4 p 
{
    font-size: 17px;
    font-weight: 600;
    word-spacing: 3px;
    color: #333;
    padding: 50px 0px 20px 0px;
}
.about .aboutcon .info4 span 
{
    font-size: 14px;
    font-weight: 400;
    color: #666;

}
/* info4 close */

.about .aboutcon .info3
{ 
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 0px;

}
.about .aboutcon .info3 .logo
{   
    height: 80px;
    width: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;

    
}
.about .aboutcon .info3 .logo i 
{
    font-size: 25px;
    transform: rotate(-45deg);
    
}
.about .aboutcon .info3 p 
{
    font-size: 17px;
    font-weight: 600;
    word-spacing: 3px;
    color: #333;
    padding: 50px 0px 20px 0px;
}
.about .aboutcon .info3 span 
{
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

/* info3 close */

.aboutbottom .aboutbottomcon
{
        display: flex;
        padding: 80px 0px;
        justify-content: space-between;
        font-family: sans-serif;
}
.aboutbottom .aboutbottomcon .info1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutbottom .aboutbottomcon .info1 .logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;
}
.aboutbottom .aboutbottomcon .info1 .logo i 
{
    font-size: 24px;
    transform: rotate(-90deg);
    padding-right: 13px;
    padding-bottom: 8px;
    color: #333;
}
.aboutbottom .aboutbottomcon .info1 .logo span
{
    display: block;
    transform: rotate(-45deg);
    margin-left: 28px;
    /* padding-bottom: 12px; */
    font-weight: 500;
    color: #333;
}

.aboutbottom .aboutbottomcon .info1 p
{
    padding: 30px 0px 20px 0;
    font-weight: 300;
    color: #333;
    font-size: 15px;
}

/* info1 close */

.aboutbottom .aboutbottomcon .info2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutbottom .aboutbottomcon .info2 .logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;
}
.aboutbottom .aboutbottomcon .info2 .logo i 
{
    font-size: 24px;
    transform: rotate(-45deg);
    padding-right: 13px;
    padding-bottom: 8px;
    color: #333;
}
.aboutbottom .aboutbottomcon .info2 .logo span
{
    display: block;
    transform: rotate(-45deg);
    margin-left: 28px;
    /* padding-bottom: 12px; */
    font-weight: 500;
    color: #333;
}
.aboutbottom .aboutbottomcon .info2 p
{
    padding: 30px 0px 20px 0;
    font-weight: 300;
    color: #333;
    font-size: 15px;
}
/* info2 close */

.aboutbottom .aboutbottomcon .info3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutbottom .aboutbottomcon .info3 .logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;
}
.aboutbottom .aboutbottomcon .info3 .logo i 
{
    font-size: 24px;
    transform: rotate(-45deg);
    padding-right: 13px;
    padding-bottom: 8px;
    color: #333;
}
.aboutbottom .aboutbottomcon .info3 .logo span
{
    display: block;
    transform: rotate(-45deg);
    margin-left: 28px;
    /* padding-bottom: 12px; */
    font-weight: 500;
    color: #333;
}
.aboutbottom .aboutbottomcon .info3 p
{
    padding: 30px 0px 20px 0;
    font-weight: 300;
    color: #333;
    font-size: 15px;
}
/* info3 close */

.aboutbottom .aboutbottomcon .info4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutbottom .aboutbottomcon .info4 .logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;
}
.aboutbottom .aboutbottomcon .info4 .logo i 
{
    font-size: 24px;
    transform: rotate(-45deg);
    padding-right: 13px;
    padding-bottom: 8px;
    color: #333;
}
.aboutbottom .aboutbottomcon .info4 .logo span
{
    display: block;
    transform: rotate(-45deg);
    margin-left: 28px;
    /* padding-bottom: 12px; */
    font-weight: 500;
    color: #333;
}
.aboutbottom .aboutbottomcon .info4 p
{
    padding: 30px 0px 20px 0;
    font-weight: 300;
    color: #333;
    font-size: 15px;
}
/* info4 close */

.aboutbottom .aboutbottomcon .info5
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutbottom .aboutbottomcon .info5 .logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;
}
.aboutbottom .aboutbottomcon .info5 .logo i 
{
    font-size: 24px;
    transform: rotate(-45deg);
    padding-right: 13px;
    padding-bottom: 8px;
    color: #333;
}
.aboutbottom .aboutbottomcon .info5 .logo span
{
    display: block;
    transform: rotate(-45deg);
    margin-left: 28px;
    /* padding-bottom: 12px; */
    font-weight: 500;
    color: #333;
}
.aboutbottom .aboutbottomcon .info5 p
{
    padding: 30px 0px 20px 0;
    font-weight: 300;
    color: #333;
    font-size: 15px;
}
/* info5 close */

.services
{
    padding: 100px 0px;
    text-align: center;
    font-family: sans-serif;
    background: #f6f6f6;
}
.services h2
{
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #196fc0;
    font-weight:500;
    font-family: 'Oxygen', sans-serif;
}
.services .p 
{
    padding-top: 10px;
    color: #666;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    word-spacing: 3px;
    letter-spacing: 2px;
    position: relative;
}
.services .p::after
{
    content: '';
    position: absolute;
    height: 0px;
    width: 20px;
    border-bottom: 2px solid #666;
    bottom: 10px;
    margin-left: 5px;
    
}
.services .p::before
{
    content: '';
    position: absolute;
    height: 0px;
    width: 20px;
    border-bottom: 2px solid #666;
    bottom: 10px;
    margin-left: -30px;
    margin-right:0px;    
}
.services .servicescon
{
    margin-top: 90px;
    padding: 0px 0px;
    font-family: sans-serif;
    background: #fff;
    
}
.services .servicescon .services1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #196fc0;
    padding: 30px 0px 0px 0px;
}
.services .servicescon .services1 .logo1 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding-top: 40px;
    padding-bottom: 0px;  
    transition: all 0.5s;  
}
.services .servicescon .services1 .logo1 .logo
{
    height: 60px;
    width: 60px;
    background:#fff;
    box-shadow: 4px 4px 0px #dddddd;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    transition: all 0.5;
    
    
}
.services .servicescon .services1 .logo1 .logo i
{
    transform: rotate(-45deg);
    font-size: 25px;
    font-weight: 400;
    transition: 0.2s;
}
.services .servicescon .services1 .logo1 p
{   
    font-size:15px;
    color: #333;
    font-weight: 600;
    padding-top: 35px;
    
}
.services .servicescon .services1 .logo1:hover
{
    background: #196fc0;
    overflow: hidden;
}
.services .servicescon .services1 .logo1:hover .logo

{
    height: 80px;
    width: 80px;
    overflow: hidden;
}
.services .servicescon .services1 .logo1:hover.logo1 p
{
    /* display: none; */
    color: #196fc0;
}
.services .servicescon .services1 .logo1:hover .logo i
{
    font-size: 30px;
    overflow: hidden;
}
.services .servicescon .introservices
{
    display: flex;
    color: #f6f6f6;
        
}
.services .servicescon .introservices .text
{
    padding: 80px 0px;
    text-align: left;
    color: #f6f6f6;
}
.services .servicescon .introservices .text p
{
    font-size: 30px;
    color: #333;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}
.services .servicescon .introservices .text span
{
    font-size: 13px;
    color: #666;
    display: block;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-right: 50px;
}
.services .servicescon .introservices .image
{
    margin-top: 50px;   
    
}
.services .servicescon .introservices img
{
    height: 300px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: -0.005px 0 4px #666;
}

.reviews
{
    padding: 50px 0px;
    text-align: center;
    font-family: sans-serif;
    /* background: #f6f6f6; */
}
.reviews h2
{
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #196fc0;
    font-weight:500;
    font-family: 'Oxygen', sans-serif;
}
.reviews .p 
{
    padding-top: 10px;
    color: #666;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    word-spacing: 3px;
    letter-spacing: 2px;
    position: relative;
}
.reviews .p::after
{
    content: '';
    position: absolute;
    height: 0px;
    width: 20px;
    border-bottom: 2px solid #666;
    bottom: 8px;
    margin-left: 5px;
    
}
.reviews .p::before
{
    content: '';
    position: absolute;
    height: 0px;
    width: 20px;
    border-bottom: 2px solid #666;
    bottom: 8px;
    margin-left: -30px;
    margin-right:0px;    
}

.reviews .reviewscon
{
    margin-top: 30px;
    padding: 60px 0px 60px 0px;
    background: #196fc0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.reviews .reviewscon .image1
{
    height: 80px;
    width: 80px;
    background: black;
    transform: rotate(-45deg);
    margin-right: 60px;
}
.reviews .reviewscon .image1 img
{
    height: 80px;
    width: 80px;
    /* transform: rotate(45deg); */
}
.reviews .reviewscon p
{
    padding: 50px 150px;
    font-size: 16px;
    color: #fff;
    font-family: sans-serif;
}
.reviews .reviewscon p::after
{
    content: '';
    width: 50px;
    border-bottom: 1px solid white;
    position: absolute;
    bottom: 30%;
    right: 50%;
}
.reviews .reviewscon h5
{
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
    margin-bottom: 5px;
    padding-right: 40px;
}
.reviews .reviewscon h6
{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: #fff;
    padding-right: 40px;
}
/* font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif; */
